/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-apr-2015, 15.56.58
    Author     : giuseppe
*/

#profile
{
 position: relative;

 padding: 10px;
 
}

#profile .tab-profile
{
  border: 1px solid black;
  margin: 5px;
}

#profile .avatar
{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    
}   

#profile .generalita
{
    vertical-align: top;
    position: relative;
    top: 0px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#profile .name
{
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    font-family: Arial, Verdana, sans-serif;
}

#profile .username
{
    margin: 0px;
    padding: 0px;
}


#profile .down-avatar
{
    margin-left: 5px;
}

#profile .label-info
{
    display: inline-block;
    text-align: left;
    width: 10em;
}

#profile input[button]
{
    margin: 5px;
    padding: 0px;
}




.tab-profile
{
    padding: 5px;
}

.mod-avatar
{
    display: inline-block;
    margin: 10px;
}

input[name="avatar"]
{
    display: block;
    padding: 5px;
    
}

form .name
{
    margin-top: 10px !important;
}

.tab-profile input, .tab-profile select
{
    padding: 5px !important;
}


#gender img
{  
    position: relative;
    top: 3px;
    width: 20px;
    heith: 15px;
}