/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-apr-2015, 13.30.00
    Author     : giuseppe
*/



body {

}

/* <editor-fold defaultstate="collapsed" desc=" Header"> */

header
{
    background-color: #1D1717;
    height:  5em;
    color: white;
}

/* </editor-fold> */

/* <editor-fold defaultstate="collapsed" desc=" Menu"> */

aside
{
    background-color: #1D1717;
    position: absolute;
    top: 3em; 
    bottom: 0px;
    width:500px;

}

#logo
{
    position: relative;
    left: 1em;
    margin-top: 10px;
    margin-bottom: 50px;
    min-height: 200px;
}

#logo #avatar
{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    
}

#logo #avatar img
{
    width: inherit;
    height: inherit;
}

#logo div
{
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 60px;
    margin: 0px;
    padding: 0px;
    margin-left: 3px;
}

#logo .name
{
    display: inline-block;
    width: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    width:15em;
    font-size: 30px;
    
}

#logo .username
{
    display: block;
    width: 1em;
    margin-top: 0.5em;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    position: relative;
    top: -20px;
    
}


nav
{
    float: none;
    position: relative;
    left: 1em;
}
.menutab
{
    cursor: pointer;
}

submenutab
{
    cursor: pointer;
}
 
/* </editor-fold> */



/* <editor-fold defaultstate="collapsed" desc=" Container"> */

#container
{
    position: absolute;
    top: 3em; 
    left: 350px;
    right: 0px;
    bottom: 0px;
    background-color: #DAE9E8;
}

main {
    position: relative;
    
}

section {
    min-height: 300px;
}

footer {
    position: absolute;
    left: 10em;
    right: 0px;
    bottom: 0px;
    background-color: #1D1717;
    height: 4em;
    max-height: 50px;
}

.copyright {
    margin: 1em;
    text-align: center;
    font-size: 12px;
}

.copyright p
{
    margin: 0; 
    padding-bottom: 0;
}

/* </editor-fold> */