/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-apr-2015, 18.02.20
    Author     : Giuseppe
*/

#newComment {
    font-size: 14px;
    line-height: 1.2em;
}

#newComment .row
{
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 0px;
}

#newComment select
{
    width: 7em;
}

#newComment input[type="file"],
#newComment input[type="url"]
{
    width: 20em;
}

#newComment textarea
{
    width: 27em;
    height: 5em;
    min-height: 3em;
    overflow: hidden;
    line-height: 1.2em;
    margin: 0px;
}

#newComment .help_input
{
    position: absolute;
    width: 27em; 
    margin: 0px;
    line-height: 1em;
    font-size: 13px;
    z-index: 20;
    background-color: #8CD8E4;
    color: #000;
    margin-left: 10px;
}

#newComment input[name="luogo"]
{
    width: 27em;
}


#newComment input[type="button"]
{
    margin-left: 11.4em;
}

#newComment .finalRow
{
    padding-left: 14px;

}



#Showcase-div 
{
    position: relative;
    margin-top: 80px;
    margin-bottom: 0px;
}

#Showcase-div .post
{
    border: 1px solid #222729;
    position: relative;
    padding-bottom: 0px;
    line-height: 1.2em !important ;
    font-size: 20px;
    padding-left: 5px;
}

#Showcase-div  .Author
{
     font-style: oblique;
    font-size: 16px;
}

#Showcase-div  .Author .AuthorName
{
     font-size: 18px;
     font-weight:bold;
}


#Showcase-div  .Image
{
    margin-left: 5px;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

#Showcase-div  .Testo
{
    margin: 10px;
}

#Showcase-div .post .row
{
    position: relative;
    font-size: 13px;
    min-height: 20px;
}

#Showcase-div  .delete
{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    background-color: #222729;
    color: red;
    line-height: 1em;
    cursor: pointer;
}

#Showcase-div  .luogo
{
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
    font-style: oblique;
    font-weight: bold;
}

#Showcase-div  .data
{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 25px;
    font-style: oblique;
}

#Showcase-div  .privacy
{
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
}

#Showcase-div  .privacy img
{
    width: 20px;
    height: 20px;
}

#Showcase-other
{
    position: relative;
    margin-top: 0px;
    margin-bottom: 80px;
    margin-left: 300px;
    margin-right: 300px;
    cursor: pointer;
    background: #222729;
    color: #FFF;
    text-align: center;
}

#Showcase-div input[name="Invia"] {
 position: relative;
 left: 10px;
 top: -10px;
 height: 50px;
 padding: 5px;
    
}

#Showcase-div textarea[name="commentText"] {
    position: relative;
    width: 500px;
    height: 30px;
    min-height: 20px;
    line-height: 1em;
    font-size: 13px;
    resize: none;
    
}


.zoomed {
    max-height: 800px !important;
    max-width: 800px !important;
}

